html {
  font-family: "IBM Plex Sans", sans-serif;
}

.color {
  background-color: #ddd;
}

.img {
  width: 100%;
  max-width: 200px;
}

.cardground {
  background-color: #efefef;
}

.table-wrapper {
  background-color: #fff;
}

.cards {
  background-color: #fff;
  border-radius: 6px;
}

@media only screen and (min-width: 60em) {

  .table-wrapper {
    overflow: visible;
  }

}
